
body {
	background-color: black;
	font-family: 'Nunito', sans-serif;
	color: #3f7298;
}

.container {
	width: 100%;
}

.row.clock div.time {
	text-align: center;	
	font-size: 200px;
}

.row.clock .meridiem {
	font-size: 60px;
	margin-left: 10px;
}

.row.controls {
	margin-top: 110px;
}

.row.controls .col-xs-2 {
	padding-left: 3px;
	padding-right: 3px;
}

.row.controls button.btn-info {
	width: 100%;
	height: 60px;
	vertical-align: top;
}